*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
html,body{
    width:100% ;
    height: 100%;
    background-color: #1c1c1a;
    color: #1c1c1a;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    background-color: #1c1c1a;
    overflow: hidden;
}
.page1{
    width: 100vw;
    height: 100%;
    background-color: #c4bcb3;
    position: relative;
}
nav{
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(34, 33, 33, 0.705);
    padding-block: 1.9em;
    padding-inline: 1.5em;
    position: fixed;
    z-index: 9999;
    background-color: #c4bcb3;
}
nav img{
    width: 6.6em;
    margin-left: -2.9em;
}
nav h6{
    opacity: 0.5;
}

.nav-sudo{
    width: 100%;
    height: 4em;
}
.elements{
    width: 100%;
    height: 18em;
    padding: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.elem1,.elem3{
    width: 35%;
    height: 100%;
}
.elem2{
    height: 100%;
    width: 30%;
}
.elem1{
    padding-right:  3em;
    padding-left: 2em;
    border-right:0.3px solid rgba(34, 33, 33, 0.596);
    overflow: hidden;
    object-fit: cover;
}
.elem3{
    padding-left:  3em;
    padding-right:2em;
    border-left:0.3px solid rgba(34, 33, 33, 0.596);
}
.img-div{
    width: 100%;
    height: 58%;
    border: 0.1px solid black;
    overflow: hidden;
    object-fit: cover;
    
}
.img-div:hover img{
    scale: 1.1;
}
.img-div img{
    width: 104%;
    height: 100%;
    transition: 0.6s ease-in-out;
   
}
.elem2{
    text-align: center;
}

.elem2 h1{
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -2px;
}
.elem2 h2{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 0.5em;
}
.elem2 p{
    margin-top: 1.5em;
    letter-spacing: -1px;
    font-weight: 300;
}
.tip{
    background-color: #c4bcb3;
    color: #000;
    font-weight: 400;
}
.elem1 h3{
    margin-block: 0.6em;
    letter-spacing: -1px;
    font-weight: 500;
}
.elem1 p{
    font-weight: 300;
    letter-spacing: -1px;
}
.elem3 h3{
    margin-block: 0.6em;
    letter-spacing: -1px;
    font-weight: 500;
}
.elem3 p{
    font-weight: 300;
    letter-spacing: -1px;
}
span{
    width: fit-content;
    background-color: red;
    color:#c4bcb3;
}
.miranda{
    margin-top: 1em;
    height: 23em;
    width: 95%;
    margin-inline: auto;
    background-color: #1c1c1a;
    text-align: center;
    color: #c4bcb3;
    padding-inline: auto;
}
.miranda h1{
    font-size: 19.3rem;
    font-weight: 600;
    letter-spacing: -7px;
    font-stretch:semi-condensed;
    line-height: 1.2;
    
}

.page2{
    background-color: #c4bcb3;
    width: 100%;
    min-height: 30em;
    display: flex;
    padding-top: 2em;
}
.leftside{
    width: 33%;
    height: auto;
    margin-inline-start: 1.7em;
    margin-top: 2em;
    border-right:0.3px solid #1c1c1a96;
}
.leftside img{
    width: 90%;
    margin-bottom: 2.5em;
}
.leftside>h2{
    font-size: 4.4rem;
    font-weight: 600;
    letter-spacing: -3px;
    color:#1c1c1a;
    text-align:start;
}
.br{
    font-size: 8.3rem;
    color:#1c1c1a;
    background: none;
    line-height: 0.5;
    letter-spacing: -0.6rem;
}

.rightside{
    width: 60%;
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
}
.rightside img{
    width:99%;
    height: 53%;
    margin-bottom: 2em;
}
.rightside h2{
    font-size: 4.5rem;
    letter-spacing: -0.2rem;
}
.text-A{
    display: flex;
}
.text-A h2{
    font-size: 4rem;
    color: #c4bcb3;
    background-color: #1c1c1a;
    margin-left: 0.2em;
}
.text-A p{
    font-size: 3.5rem;
    font-weight: 400;
    text-align: start;
}
.leftside p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1em;
    text-align: start;
    width: 30ch;
}

.website{
    display: flex;
    background-color: #c4bcb3;
    align-items: center;
}

.web{
    width:fit-content;
    color: #c4bcb3;
}
.web h1{
    font-size: 15rem;
    letter-spacing: -0.3rem;
    font-weight: 800;
    background-color: #1c1c1a;
    padding: 0.1em;
    margin-inline: 0.1em;
}
.website img{
    margin-left: 0.8em;
}
.page3{
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    padding-top: 2.8em;
    padding-bottom: 2em;
    padding-bottom: 3.2em;
}
.majordiv{
    width: 75%;
}
.minordiv{
    width: 30%;
    border-left: 1px solid rgba(0, 0, 0, 0.703);
    margin-left: -8.6em;
    padding-inline: 2em;
}
.minordiv h2{
    font-size: 4.5rem;
    letter-spacing: -0.2rem;
}
.minordiv h1{
    font-size: 7.5rem;
    letter-spacing: -0.2rem;
    margin-top: -0.1em;
}
.p,.pp{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-bottom: 1.5em;
    width: fit-content;
}
.hh h2{
    font-size: 5rem;
    height: fit-content;
}
.hh p{
    font-size: 1.5rem;
    width:fit-content;
    margin-left: 0.5em;
    margin-top: -1em;
}

.updiv{
    display: flex;
}
.downdiv img{
    width: 83.5%;
}
.downdiv{
    margin-top: 2em;
    padding-inline: 1.5em;
}
.leftdiv{
    margin-inline-start: 1.3em;
    width: 40%;
}
.leftdiv h2{
    font-size: 3rem;
    letter-spacing: -0.1rem;
    color: #1c1c1a;

}
.leftdiv h4{
    font-size: 2.3rem;
    letter-spacing: -0.1rem;
    margin-block: 0.5em;
    color: #1c1c1a;
    font-weight: 300;
}
.leftdiv p{
    font-size: 0.8rem;
}
.leftdiv p span{
    background:none;
    color: #1c1c1a;
    font-weight: 900;
}
.ele{
    width: 26.5em;
    margin-left: -3.5em;
}
.ele .ima{
    scale: 1.06;
}
.circle{
    display: flex;
    align-items: center;
    border: 0.5px solid #1c1c1a;
    border-radius: 48%;
    width:fit-content;
    padding: 4em;
}
.circle h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}
.ranks{
    height: 12em;
    background-color: #c4bcb3;
    border-top: 1px solid #1c1c1a;
    border-bottom: 1px solid #1c1c1a;
    display: flex;
    justify-content: space-evenly;
}

.onediv,.seconddiv,.thirddiv,.fourthdiv{
    width: 22.5%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-right: -1em;
}
.hey{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -3px;
}
.hi{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -5px;
}
.bolo{
    font-size: 8.7rem;
    font-weight: 700;
    text-align: center;
    margin-top: -0.1em;
}
.page4{
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: -3em;
}
.rightpic{
    width: 45%;
    margin-right: 1.5em;
}
.rightpic img{
    width: 100%;
    height: 100%;
    
}
.leftpic{
    width: 45%;
    height: 20%;
}
.imgtext{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 1.5em;
    text-align: right;
}
.imgtext img{
    width: 53%;
    height:10%;
    margin-top: 3em;
}
.onlytext{
    width: 100%;
    margin-top: -2em;
}
.leftpic h1{
    font-size: 19rem;
    letter-spacing: -10px;
}
.midle{
    width: 100%;
    padding-inline: 1.5em;
    background-color: #c4bcb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5em;
}
.midle img{
    width: 20%;
}
.midle h1{
    font-size:18rem;
    letter-spacing: -10px;
}
.lasttext{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4bcb3;
    margin-top: -2em;
}
.lef{
    width: 64.5%;
    margin-left: 1.5em;
}
.rig{
    width: 30%;
    margin-right: 1.5em;
}
.lef h1{
    font-size: 15rem;
    font-weight: 600;
    background-color:#1c1c1a;
    color: #c4bcb3;
    letter-spacing: -9px;
}
.rig p{
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: -0.4px;
}
.rig h4{
    font-size: 5rem;
    font-weight: 500;
}
.cards{
    width: 100%;
    height: 28em;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1em;
    padding-inline: 0em;
}
.card{
    width:200%;
    height: 60%;
    background-color: aqua;
    border:2px solid #1c1c1a;
    padding:0.7em;
    border-radius: 0.5em;
    position: relative;
    
}
.card:nth-child(1){
    background-color:#c4bcb3;
    left: 8em;
    transition: 3s ease-in-out;
}
.card:nth-child(2){
    background-color:#c4bcb3;
    z-index: 1;
    right: -1em;
}
.card:nth-child(3){
    background-color:#c4bcb3;;
    z-index: 1;
    right: 2em;
}
.card:nth-child(4){
    background-color:#c4bcb3;
    z-index: 1;
    right: 6em;
}

.card:nth-child(1):hover{
    background-color:#c4bcb3;
    z-index: 999;
    top: -1em;
    /* left: 8em; */
}
.card:nth-child(2):hover{
    background-color:#c4bcb3;
    z-index: 999;
    top: -1em;
}
.card:nth-child(3):hover{
    background-color:#c4bcb3;;
    z-index: 999;
    top: -1em;
}
.card:nth-child(4):hover{
    background-color:#c4bcb3;
    z-index: 999;
    top: -1em;
}











.dotted{
    width: 98%;
    height: 98%;
    outline: 2px dotted #1c1c1a;
    border-radius: 0.5em;
    padding: 0.7em;
}









.copy{
    background-color: #c4bcb3;
    border-top: 0.5px solid #1c1c1a76;
    padding-top: 1.5em;
}
.scroll{
    width: 100%;
    height: 15em;
    /* white-space:nowrap; */
}
.scrollanim{
    height: 70%;
    background-color:#c4bcb3;
    color: #1c1c1a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
    overflow: hidden;
    /* display: inline-block; */
    animation: 10s slide infinite linear;
}
@keyframes slide {
    0%,100%{
        transform: translateX(100);
    }
    50%{
        transform: translateX(-50%);
    }
}
.scrollanim h2{
    font-size: 5rem;
    letter-spacing: -5px;
    font-weight: 400;
}
.scrollanim:hover{
    animation-play-state: paused;
}
.scrollanim h2 span{
    background-color: #1c1c1a;
    color: #c4bcb3;
}
.footer{
    height:30% ;
    background-color: #c4bcb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5em;
}
.footer h3{
    color: #1c1c1ae7;
    padding-left: 1em;
}
.footer ul{
    display: flex;
    gap: 0.9em;
    align-items: center;
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: #1c1c1a;
}